p {
    display: inline;
}
.box {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 20px;
    padding: 10px;
    border: 1px solid black;
    box-sizing: border-box;
}
/*  display: inline; puts things side by side.
    display: block; puts things ontop of each other.
    float: left; pushes an item all the way to the left, ignoring all else.
    margin: gives space outside the object.
    padding: gives space inside the object.

    #box {} is for id selection
    .box {} for class selection

    @import './components/lists.css'
