.Section {
    box-sizing: border-box;
    background-color:white;
    border: 3px solid black;
    padding: 20px;
    justify-content: center;
 }
 
 .Section h1 {
     text-align: center;
     margin: 0;
 }
 
 .Section--half {
     width: 50%;
     border: 3px solid black;
     display: inline-flex;
 }

 .Section h3 {
     background-color: grey;
     width: 10%;
     height: 10%;
     float: right;
     margin: 0;
 }
 