* {
	margin: 0;
	padding: 0;
	}
	
	.header {
		display: block;
		border: solid black;
		border-width: 0px 0px 6px 0px
	}
	
	.left-text {
		display: inline-block;
		box-sizing: border-box;
    width: 50%;
		padding: 0px;
		margin: 0;
		border: solid 5px black;
		border-width: 0px 3px 6px 6px
	}
	
	.right-text {
		display: inline-block;
		box-sizing: border-box;
		width: 50%;
		padding: 0px;
		margin: 0;
		border: solid 5px black;
		border-width: 0px 6px 6.6px 3px
	}
	
	#modal {
			background-color: grey;
			position: absolute right 0;
			margin: 0;
			width: 50px;
			height: 50px;
			float: right;
	}