@media screen and (max-width: 600px) {

	.section {
		box-sizing: border-box;
		border: 3px solid black;
		padding: 10px;	
	}

	.section--full {
		text-align: center;
	}

    .section--left {
    	border-top-width: 0px;
    	border-bottom-width: 1.5px;
    	position: relative;
    }

    .section--right {
    	border-top-width: 1.5px;
    	
    }

    #new__tag {
		position: absolute;
		background-color: grey;
		right: 0px;
		text-align: right;
		font-weight: bold;
		font-size: 1.0em;
		padding: 0.5em;
	}
}

