h1 {
  text-align: center;
  margin:0;
  padding: 20px;
  box-sizing: border-box;
  border-style: solid;
  border-width: 3px;
}


div#flex-container {
  display: flex;
  border-width: 0px 3px 3px 3px;
  border-style: solid;
}

div.flex-item1 {
display: flex;
flex-flow: row wrap;
border-width: 0px 3px 0px 0px;
border-style: solid;
padding: 20px
}

div.flex-item2 {
display: flex;
flex-flow: row wrap;
border-width: 0px 0px 0px 0px;
border-style: solid;
padding: 20px
}
