body {
  width: 100%;
}

.box {
  box-sizing: border-box;
  width: 99%;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
}

.box--fullWidthBox {
  width: 100%;
}

.box--halfWidthBox {
  width: 50%;
}