.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin:0;
  padding: 0;
}

.header {
  display: flex;
  width: 100%;
  border-style: solid;
  border-bottom-style: none;
  justify-content: center;
}

.sectionLeft {
  flex-direction: column;
  flex: 1 45%;
  display: inline-flex;
  width: 49%;
  border-style: solid;
  border-width: 1%;
  padding: 10px;
}

new {
  padding: 10px;
  display: flex;
  background-color: green;
  width: 50px;
  height: 25px;
}

.sectionRight {
  flex-direction: column;
  flex: 1 50%;
  display: inline-flex;
  width: 50%;
  border-style: solid;
  border-width: 1%;
  padding: 10px;
}
