/*body {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

div {
  width: 50%;
  padding: 15px 0 15px 15px;
  box-sizing: border-box;
  float: left;
  border: 3px solid #000000;
}

.left {
  border-left: 3px solid #000000;
  border-right: 1.5px solid #000000;
}

.right {
  border-left: 1.5px solid #000000;
  border-right: 3px solid #000000;
}

h2 {
  display: inline-block;
}

h3 {
  margin-right: 1px;
  display: inline-block;
  background-color: #eeeeee;
  padding: 10px;
  float: right;
}

p {
  padding-right: 15px;
}

@media (max-width: 600px) {

  div {
    width: 100%;
    float: none;
  }

  .left {
    border-width: 3px 3px 1.5px 3px;
  }

  .right {
    border-width: 1.5px 3px 3px 3px;
  }  

}*/

body {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  border: none;
}

div {
  width: 50%;
  min-width: 300px;
  flex-grow: 2;
  padding: 15px;
  box-sizing: border-box;
  border: 3px solid #000000; 
}

h2 {
  display: inline-block;
}

h3 {
  display: inline-block;
  position: absolute;
  right: 50%;
  background-color: #eeeeee;
  padding: 8px;
}
