.Container {
	display: flex;
	justify-content: center;
	border-top: 2px solid black;
	border-left: 2px solid black;
	border-right: 2px solid black;
}

.Container--placeholder {
	flex-direction: column;
}

.Container--placeholder .Container__element {
	padding: 10px;
}

.Container--placeholder .Container__elementLeft {
	border-bottom: 2px solid black;
}

.Container--placeholder .Container__elementRight {
	border-bottom: 2px solid black;
}

@media (min-width: 600px) {
	.Container--placeholder {
		flex-direction: row;
	}

	.Container--placeholder .Container__elementLeft {
		border-right: 2px solid black;
	}
}