.Layout { display: flex;
 flex-flow: column;
 outline: 1px solid #000;
 }
.Layout__header { text-align: center;
 }
.Layout__section { border-top: 1px solid #000; position: relative;
 }
.Layout__section.Layout__section--new::after { content: 'New!';
 background-color: #888;
 position: absolute;
 top: .5rem;
 right: 0;
 padding: .3rem;
 }
 @media and screen (min-width: 500px) {
 	.Layout__section-wrapper { display: flex; flex-direction: row; flex-wrap: nowrap; flex: auto; }
 	.Layout__section { max-width: 500px; display: inline-block; }
 }