.Section {
    box-sizing: border-box;
    background-color: white;
    color: black;
}
.Section--full {
    width: 100%;
    text-align: center;
    margin: 0;
    border: .25em solid black;
}
@media (min-width: 600px) {
    .Section--flex {
        display: flex;
        box-sizing: border-box;
    }
    .Section--divide {
        border-left:  .25em solid black;
    }
}
.Section--new {
    display: inline-block;
}
.Section--half {
    flex: 1;
    flex-basis: 50%;
    text-align: left;
    padding: .5em;  
    margin: 0;
    border-top: .25em solid black;
}

.Alert {
    text-align: right;
    float: right;
    position: relative;
    background-color: grey;
    padding: 0 .2em 0 .2em;
    margin-right: -.45em;
    width: auto;
}